PUBLIC_COMPANY_NAME="Jogja Discovery"
PUBLIC_COMPANY_PHONE="+62 896 6447 0000"
PUBLIC_COMPANY_WHATSAPP="6289664470000"
PUBLIC_COMPANY_EMAIL="hello@jogja-discovery.com"
PUBLIC_COMPANY_ADDRESS="Jl. Prawirotaman No. 28, Mergangsan, Yogyakarta 55153"
PUBLIC_INSTAGRAM_URL="https://instagram.com/jogja.discovery"
PUBLIC_FACEBOOK_URL="https://facebook.com/jogja.discovery"
PUBLIC_TIKTOK_URL="https://tiktok.com/@jogja.discovery"
